<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ question }}</h1>
    <form action="{{ url_for('submit') }}" method="POST">
        <div class="buttons">
            {% for option in options %}
                <button type="submit" name="response" value="{{ option }}">{{ option }}</button>
            {% endfor %}
        </div>
    </form>
    {% if responses %}
    <form action="{{ url_for('back') }}" method="get">
        <button class="back-button" type="submit">Go Back</button>
    </form>
    {% endif %}
</body>
</html>
