<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <canvas id="canvas"></canvas>
            <button id="picture-button" class="picture-button" onclick="stop()">Take Picture</button>
        </div>
        <div class="match">
            <img src="{{ url_for('static', filename='images/people/tree.jpg')}}" alt="">
        </div>
    </div>
    <!-- <button onclick="play()">Play</button> -->
    <script src="https://cdn.jsdelivr.net/npm/p5@latest/lib/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@latest/lib/addons/p5.dom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ml5@latest/dist/ml5.min.js"></script>
    <script type="text/javascript">
        // Classifier Variable
        let classifier;
        // Model URL
        let imageModelURL = 'https://teachablemachine.withgoogle.com/models/9SFQC4qKj/';
        
        // Video
        let video;
        let flippedVideo;
        // To store the classification
        let label = "";
        let result = "";
        let stopped = false;
        let dotsCount = 0;
        let tick = 0;

        // Load the model first
        function preload() {
            classifier = ml5.imageClassifier(imageModelURL + 'model.json');
        }

        function setup() {
            let canvas = document.getElementById('canvas');
            createCanvas(320, 260, canvas);
            // Create the video
            video = createCapture(VIDEO);
            video.size(320, 240);
            video.hide();

            flippedVideo = ml5.flipImage(video);
            // Start classifying
            classifyVideo();
        }

        function draw() {
            background(0);
            // Draw the video
            image(flippedVideo, 0, 0);

            // Draw the label
            fill(255);
            textSize(16);
            textAlign(CENTER);
            text(label, width / 2, height - 4);

            if (stopped) {
                if (dotsCount <= 10) {
                    tick++;
                    if (tick > 10) {
                        tick = 0;
                        dotsCount++;
                    }
                    label = "";
                    for (let i=0; i<dotsCount; ++i) {
                        label += ". ";
                    }
                } else {
                    label = result;
                    let pictureButton = document.getElementById("picture-button");
                    pictureButton.innerText = "Waiting for match...";
                    pictureButton.classList.add("waiting");
                }
            }
        }

        // Get a prediction for the current video frame
        function classifyVideo() {
            flippedVideo = ml5.flipImage(video)
            classifier.classify(flippedVideo, gotResult);
            flippedVideo.remove();
        }

        // When we get a result
        function gotResult(error, results) {
            // If there is an error
            if (error) {
            console.error(error);
            return;
            }
            // The results are in an array ordered by confidence.
            // console.log(results[0]);
            result = results[0].label;
            // Classifiy again!
            classifyVideo();
        }

        function stop() {
            video.stop();
            stopped = true;
            dotsCount = 1;
        }
        
        function play() {
            video.play();
            stopped = false;
            label = "";
            dotsCount = 0;
            tick = 0;
        }
    </script>
</body>
</html>